/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */


.section__header {
    max-width: 820px;
    margin: 0 auto;
}

body:not(.has-scrollbar) {
    .wrapper-stretched {
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        left: 0 !important;
    }
}

body.has-scrollbar {
    .wrapper-stretched {
        width: calc(100vw - var(--scroll-bar)) !important;
        margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
        margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    }
}

.wrapper-basic {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include bp (large) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.wrapper-xfull {
    max-width: 1230px; //without padding: 1170px
    @extend .wrapper-basic;
}

.wrapper-full {
    max-width: 1160px; //without padding: 1100px
    @extend .wrapper-basic;
}

.wrapper-features {
    max-width: 1060px; //without padding: 1000px;
    @extend .wrapper-basic;
}

.wrapper-small {
    max-width: 980px;
    @extend .wrapper-basic;
}

.post-content {
    width: 66%;
}