// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 15px !default;
$global-opacity: 0.4;
$btn-transition: all 200ms linear !default;

/* Fonts
   ========================================================================== */

$georgia: 'Georgia', Arial, sans-serif !default;
$arial: 'Arial', sans-serif !default; 


/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-primary: #068375;
$color-primary-hover: #035D53;
$color-white: #fff;
$color-black: #323232;
$color-dark-gray: #707070;
$color-gray: #F8F8F5;
$color-gray-2: #A9A9A9;
$color-gray-3: #EBEBE5;
$color-green: #118375;

// Text
$color-text: $color-black;
$color-text-white: $color-white;
$color-text-green: $color-primary;
$color-text-gray : $color-gray-2;

// Background
$color-bg-primary: $color-primary;
$color-bg-primary-dark: $color-primary-hover;
$color-bg-white: $color-white;
$color-bg-gray: $color-gray-3;
$color-bg-gray-2: $color-gray;
$color-bg-black: $color-black;



// Borders
$color-border: $color-gray-2;
$color-border-2: $color-dark-gray;
$color-border-3: $color-gray-3;
$color-border-primary: $color-primary;
$color-border-green: $color-green;
$color-border-white: $color-white;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$text-family: $arial;
$heading-family: $georgia;