.u-btn {
    display: inline-block;
    color: $color-text-white;
    padding: 12px 12px;
    background: $color-bg-primary;
    transition: $btn-transition;
    border: none;
    position: relative;
    white-space: nowrap;

    @include bp (large) {
        padding: 12px 24px;
    }
}

.u-btn--transition {
    display: flex;
    align-items: center;
    justify-content: space-between;

        
    .u-btn__text {
        transform: translateX(0);
        transition: $btn-transition;
    }

    svg {
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        max-width: 16px;
        max-height: 16px;
        transition: $btn-transition;
    
        path {
            fill: $color-bg-white;
        }
    }

    &:hover {
        .u-btn__text {
            transform: translateX(-10px);
        }

        .u-btn__hover-div {
            width: 100%;
        }

        svg {
            opacity: 1;
            right: 12px;
        }
    }
}

.u-btn--nav {
    padding: 10px 12px;

    @include bp (large) {
        padding: 14px 16px 13px 16px;
    }
}

.u-btn--cards {
    padding: 12px 12px;

    @include bp (large) {
        padding: 8px 9px 8px 8px;
    }
}

.u-btn__hover-div {
    position: absolute;
    width: 1px;
    left: 0;
    top: 0;
    height: 100%;
    transition: $btn-transition;
    background: $color-bg-primary-dark;
}

.u-btn__text {
    position: relative;
    z-index: $z-lvl-2;
}

.u-btn--white {
    color: $color-text-green;
    background: $color-bg-white;

    &:hover {
        background: $color-bg-gray;
    }

    .u-btn__hover-div {
        background: $color-bg-gray;
    }
}

.u-btn--transparent {
    position: relative;

    .u-btn__icon {
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translateY(-50%) translateX(0);
        max-width: 16px;
        max-height: 16px;
        transition: $btn-transition;

        path {
            fill: $color-bg-primary;
        }
    }

    &:hover {

        .u-btn__icon {
            transform: translateY(-50%) translateX(5px);
        }
    }
}

.u-btn--transparent-green {
    color: $color-text-green;
    background: transparent;

    &:hover {
        background: transparent;
    }
}

.u-btn--transparent-white {
    color: $color-text-white;
    background: transparent;

    &:hover {
        background: transparent;
    }
}

