/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 1.2; 
    color: $color-text-green;
    font-weight: 400;
}

.text-header { /* 32px */
    font-size: 2rem;
    line-height: 1.125;
}

.text-subheader { /* 24px */
    font-size: 1.5rem;
    line-height: 1.125;
}

.text-banner-copy { /* 20px */
    font-size: 1.25rem;
    line-height: 1.5;
}

.text-footer { /* 18px */
    font-size: 1.125rem;
    line-height: 1.167;
}

.text-info { /* 15px - without letter spacing */
    font-size: 0.9375rem;
}

.text-button-regular { /* 15px */
    font-size: 0.9375rem;
    letter-spacing: 0.075em;
    font-weight: 400;
}

.text-button-bold { /* 15px */
    font-size: 0.9375rem;
    letter-spacing: 0.075em;
    font-weight: 700;
}

.text-button { /* 15px */
    font-size: 0.9375rem;
    letter-spacing: 0.075em;
}

.text-regular { /* 14px */
    font-size: 0.875rem;
    line-height: 1.64;
}

.text-icon {  /* 12px */
    font-size: 0.6rem;
    letter-spacing: 0.075em;
    line-height: 1.167;

    @include bp(xlarge) {
        font-size: 0.75rem;
    }
}

