/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

:root {
    --scroll-bar: 8px; 
} 

html {
    color: $color-text;
    font-size: 1em; /* [1] */ /* 16px */
    line-height: 1.3; /* [1] */
    min-height: 100%; /* [3] */
    overflow-y: scroll; /* [2] */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    &.no-scroll {
        overflow-y: hidden;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: $text-family;
}

.vh {
    @include hidden-visually();
}

p {
    color: $color-text;
}

.main-wrapper {
    min-height: calc(100vh - 120px);
    height: 100%;
    padding-top: 64px;

    @include bp (large) {
        padding-top: 120px;
    }
}