
/* ==========================================================================
   #IMAGES
   ========================================================================== */

   .img-fluid {
      max-width: 100%;
      height: auto;
      width: 100%;
   }

   img.lazy {
      opacity: 0;
   }
    
   img:not(.initial) {
      transition: opacity 1s;
   }
     
   img.initial,
   img.loaded,
   img.error {
      opacity: 1;
   }
  