/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.text__line {
  position: relative;
  padding-top: 24px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 1px;
    background-color: $color-bg-primary;
  }
}

.text__line--white {
  &::before {
    background-color: $color-bg-white;
  }
}

.text__line--hidden-on-mobile {
  &::before {
    display: none;

    @include bp (large) {
      display: block;
    }
  }
}

.text__line--hidden-on-desktop {
  &::before {
    display: block;

    @include bp (large) {
      display: none;
    }
  }
}

