// ==========================================================================
// # BANNER / PAGE PARTIAL
// ==========================================================================

.banner {
    margin-bottom: 64px;
}

.banner__inner {
    height: 416px;
    position: relative;
}

.banner__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;

    @include bp (large) {
        align-items: center;
    }
}


.banner__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: $z-lvl-1;
}

.banner__content {
    position: relative;
    z-index: $z-lvl-3;

    @include bp (medium) {
        left: 0;
        max-width: 263px;
    }
}

.banner__copy {
    margin-top: 32px;
    margin-bottom: 0;
}

.banner__button {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;

    @include bp (large) {
        width: auto;
        text-align: left;
        margin-bottom: 0;
    }
}

.banner__dark {
    position: absolute;
    background: $color-bg-black;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-lvl-2;
}

.banner-small__content {
    height: 100%;
}