.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 64px;
}

.carousel__title_container {
    justify-content: space-between;    
}

.carousel__title {
    margin-bottom: 48px;
}

.carousel__buttons {
    display: none;
    align-self: center;
    justify-content: space-between;
    width: 72px;
    height: 24px;

    img {
        max-width: 24px;
        max-height: 24px;
    }

    @include bp (large) {
        display: flex;  
    }
}

.carousel__container {
    width: 100%;

    /* the parent */
    .slick-list {
        margin: 0 -8px;
        
        @include bp (large) {
            margin: 0 -16px;
        }
    }

     /* the slides */
    .slick-slide {
        margin: 0 8px;
        width: 100vw;
        height: 250px;
        overflow: hidden;

        @include bp(large) {
            margin: 0 16px;
            max-width: 1100px;
            height: 500px;
        }
    }

    div {
        height: 100%;
        position: relative;
    }

    .carousel__optional-title-container {
        position: absolute;
        height: auto;
        left: 0;
        bottom: 0;
        background: $color-bg-white;
        padding: 16px;
        border-left: 1px solid $color-border-2;
        border-bottom: 1px solid $color-border-2;
    }

    .carousel__image {
        height: 100%;
        object-fit: cover;
    }
}




