.contact-us {
    margin-bottom: 64px;
    position: relative;

    @include bp (large) {
        padding-top: 24px;
    }
}

.contact-us__row {

    @include bp (large) {
        margin: -8px;
    }
}

.contact-us__contact-info {
    
    @include bp (large) {
        margin: 8px;
        width: calc(70% - 16px);
        flex-direction: column;
        justify-content: space-between;
    }
}

.contact-us__title-container {
    width: 100%;
    padding: 32px 0;
    background-color: $color-bg-gray-2;
    justify-content: center;
}

.contact-us__title-container--form-title {
    margin-bottom: 24px;
    
    @include bp (large) {
        margin-bottom: 8px;
    }
    
}

.contact-us__info-rows {
    justify-content: space-between;
    padding: 32px 40px 32px 40px;

    @include bp (large) {
        padding: 0 32px;
    }
}

.contact-us__info {
    width: 100%;

    &:last-of-type {
        
        .contact-us__copy {
            margin: 12px 0 0 0;
        }

        @include bp (large) {

            .contact-us__copy {
                margin: 12px 0 24px 0;
            }
        }
    }

    @include bp (large) {
        width: 50%;
    }
}

.contact-us__info-content {
    
    @include bp (large) {
        max-width: 292px;
    }
}

.contact-us__info-title {
    font-family: $text-family;
}

.contact-us__copy {
    margin: 12px 0 24px 0;
}

.contact-us__gmap {
    width: 100%;
    height: 250px;
    margin-bottom: 24px;

    @include bp (large) {
        height: 291px;
        margin-bottom: 0;
        padding: 0 32px;
    }
}

.contact-us__form-column {    
    width: 100%;

    @include bp (large) {
        width: calc(30% - 16px);
        margin: 8px;
    }
}

.contact-us__form {
    width: 100%;
    padding: 0 20px;

    @include bp (large) {
        padding: 0;
    }
}

.contact-us__input {
    border: 1px solid $color-border;
    outline: 0;
    padding: 12px 12px;

    &::placeholder {
        color: $color-text-gray;
    }
}

.contact-us__input--half {
    width: 100%;
    margin-bottom: 8px;    

    @include bp (large) {
        width: calc(50% - 16px);
        margin: 8px;
    }
}

.contact-us__input--full {
    width: 100%;
    margin-bottom: 8px;    

    @include bp (large) {
        margin: 8px;
    }
}

.contact-us__textarea {
    height: 180px;
    resize: none;
}

.contact-us__checkbox-description {
    margin-left: 16px;
}

.contact-us__btn {
    width: 100%;
    text-align: center;
}