.external-link-to-view {
    justify-content: center;
    align-items: center;
}

.external-link-to-view--gray-bg {
    padding-top: 48px;
    padding-bottom: 48px;
    background: $color-bg-gray-2;
}