// ==========================================================================
// # FEATURES INFOGRAPHIC / PAGE PARTIAL
// ==========================================================================

.features-infographic {
    margin-bottom: 40px;
}

.features-infographic--gray {
    padding-top: 20px;
    padding-bottom: 32px;
    background: $color-bg-gray-2;
}

.features-infographic__row {

    &.features-infographic__row--box-grid-left {
        
        .features-infographic__content-box {
            order: 2;

            @include bp (large) {
                order: 4;
                justify-content: flex-end;
            }
        }

        .features-infographic__grid-box {
            order: 4;

            @include bp (large) {
                order: 2;
            }
        }
    }

    &.features-infographic__row--box-grid-right {
        
        .features-infographic__content-box {
            order: 2;
            justify-content: flex-start;
        }

        .features-infographic__grid-box {
            order: 4;
        }
    }
}

.features-infographic__content-box {
    width: 100%;
    align-items: center;

    @include bp (large) {
        width: 54%;
    }
}

.features-infographic__content {
    max-width: 449px;
}

.features-infographic__copy {
    margin-top: 32px;
    margin-bottom: 24px;    

    @include bp (large) {
        margin-bottom: 48px;
    }
}

.features-infographic__button-row {
    justify-content: center;
    align-items: center;

    @include bp (medium) {
        justify-content: flex-start;
    }
}

.features-infographic__button {
    width: 100%;
    text-align: center;

    @include bp (large) {
        text-align: left;
        width: auto;
        margin-right: 10px;
    }
}

.features-inforaphic__alt-button {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    
    @include bp (large) {
        text-align: left;
        margin-top: 0;
        width: auto;
    }
}

.features-infographic__grid-box {
    width: 100%;
    margin-top: 32px;
    justify-content: space-between;

    @include bp (large) {
        width: 46%;
        margin-top: 0;
    }
}

.features-infographic__item {
    margin: 8px 0;
    padding: 25px 16px;

    @include bp (large) {
        margin: 8px;
    }
}

.features-infographic__large-box {
    width: 100%;
    background: $color-bg-primary;

    .features-infographic__box-inner {
        max-width: 263px;
    }
    
    @include bp (large) {
        width: auto;
        flex-grow: 1;
    }
}

.features-infographic__small-box {
    width: 100%;
    background: $color-bg-primary-dark;

    .features-infographic__box-inner {
        max-width: 170px;
    }
    
    @include bp (large) {
        width: auto;
        flex-grow: 1;
    }
}

.features-infographic__box-inner {
    height: 100%;
    flex-direction: column;
}

.features-infographic__box-icons {
    width: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 0;
    margin-bottom: auto;

    img {
        width: calc(50% - 10px);
        margin: 5px;

    }
}

.features-infographic__box-content {
    margin-top: auto;
    margin-bottom: 0;
}

.features-infographic__box-title {
    margin-top: 12px;
}

.features-infographic__box-info {
    margin: 0;
    opacity: 0.8;
}



