// ==========================================================================
// # FOUR FEATURE GRID / PAGE PARTIAL
// ==========================================================================

.four-feature-grid {
    margin-bottom: 64px;
}

.four-feature-grid__row {
    height: 100%;
    margin: -8px;
}

.four-feature-grid__row--big-image-left {

    .four-feature-grid__big-image {
        order: 2;
    }

    .four-feature-grid__grid {
        order: 4;
    }
}

.four-feature-grid__row--big-image-right {

    .four-feature-grid__big-image {
        order: 4;
    }

    .four-feature-grid__grid {
        order: 2;
    }
}

.four-feature-grid__title {
    margin-bottom: 32px;

    @include bp (large) {
        margin-bottom: 48px;
    }
}

.four-feature-grid__box {
    position: relative;
    width: 100%;
    
    @include bp (large) {
        width: 50%;
    }
}

.four-feature-grid__image-half {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 8px 8px;
}

.four-feature-grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.four-feature-grid__image-small {
    width: 100%;
    padding: 8px;
    position: relative;

    @include bp (large) {
        width: 50%;
        height: 50%;
    }
}

.four-feature-grid__image-long {
    width: 100%;
    padding: 8px;

    @include bp (large) {
        height: 50%;
    }
}

.four-feature-grid__image-title {
    position: absolute;
    bottom: 24px;
    left: 24px;
}