.gallery {
    margin-bottom: 64px;
}

.gallery__title {
    margin-bottoM: 23px;

    @include bp (large) {
        margin-bottom: 48px;
    }
}

.gallery__row {
    width: calc(100% + 16px);
    margin: -8px;
    justify-content: center;
}

.gallery__box {
    margin: 8px;
    width: calc(100% - 16px);

    @include bp (medium) {
        width: calc(50% - 16px);
    }

    @include bp (large) {
        width: calc(33.33% - 16px);
    }
}

.gallery__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}