// ==========================================================================
// # GET IN TOUCH CTA / PAGE PARTIAL
// ==========================================================================

.get-in-touch-cta {
    margin-bottom: 40px;
}

.get-in-touch-cta__inner {
    position: relative;
    overflow: hidden;
    height: 401px;

    @include bp (large) {
        height: 442px;
    }
}

.get-in-touch-cta__banner {
    position: relative;
    height: 100%;
    width: 100%;
}

.get-in-touch-cta__bgImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: $z-lvl-1;
}

.get-in-touch-cta__content {
    position: absolute;
    z-index: $z-lvl-2;
    top: 50%;
    transform: translateY(-50%);
    
    @include bp (large) {
        max-width: 542px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.get-in-touch-cta__copy {
    margin-top: 32px;
    margin-bottom: 0;
}

.get-in-touch-cta__button-row {
    margin-top: 32px;
    align-items: center;

    @include bp (large) {
        margin-top: 64px;
    }
}

.get-in-touch-cta__button {
    width: 100%;
    text-align: center;

    @include bp (medium) {
        margin-right: 10px;
        width: auto;
        text-align: left;
    }

    svg {
        path {
            fill: $color-bg-primary;
        }
    }
}

.get-in-touch-cta__alt-button {
    margin-top: 24px;
    padding: 0 5px;
    width: 100%;
    text-align: center;

    @include bp (medium) {
        padding: 12px 24px;
        margin-top: 0;
        width: auto;
        text-align: left;
    }
}