// ==========================================================================
// # STANDARD ROW / PAGE PARTIAL
// ==========================================================================

.standard-row--gray { 
    
    background: $color-bg-gray-2;

    .standard-row__row {
        padding: 20px 0px;
        
        @include bp (large) {
            padding: 32px;
        }
    }
}

.standard-row {
    margin-bottom: 64px;
}

.standard-row__row--image-left {

    .standard-row__img-container {
        @include bp (large) {
            order: 2;
        }
    }

    .standard-row__content-container {
        @include bp (large) {
            order: 4;
        }
    }
}

.standard-row__row--image-right {

    .standard-row__img-container {
        @include bp (large) {
            order: 4;
        }
    }

    .standard-row__content-container {
        @include bp (large) {
            order: 2;
        }
    }
}

.standard-row__row {
    padding: 0;
}

.standard-row__img-container {
    width: 100%;

    @include bp (large) {
        width: 50%;
    }
}

.standard-row__img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;

    @include bp (large) {
        // width: 95%;
    }
}

.standard-row__content-container {
    margin-top: 17px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    @include bp (medium) {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    @include bp (large) {
        width: 50%;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
    }
}

.standard-row__content {
    max-width: 356px;
}

.standard-row__copy {
    margin-top: 32px;
}

.standard-row__button-row {
    align-items: center;
    margin-top: 34px;
}

.standard-row__button,
.standard-row__alt-button {
    width: 100%;
    text-align: center;
    
    @include bp (large) {
        width: auto;
    }
}

.standard-row__alt-button {
    margin-top: 16px;

    @include bp (large) {
        margin-top: 0;
    }
}

