.team-members-grid {
    margin-bottom: 60px;
}

.team-members-grid--gray {
    padding: 20px 0;
    background: $color-bg-gray-2;

    @include bp (large) {
        padding: 96px 0;
    }
}

.team-members-grid__row {
    flex-direction: column;

    @include bp (large) {
        flex-direction: row;
    }
}

.team-members-grid__info-column {
    width: 100%;

    @include bp (large) {
        width: 35%;
    }
}

.team-members-grid__info-content {

    @include bp (large) {
        max-width: 325px;
    }
}

.team-members-grid__info {
    margin-top: 32px;
    margin-bottom: 32px;

    @include bp (large) {
        margin-bottom: 0;
    }
}

.team-members-grid__members-grid {
    width: 100%;
    flex-direction: column;

    @include bp (large) {
        width: 65%;
        margin: -8px;
        flex-direction: row;
    }
}

.team-members-grid__member {
    width: 100%;
    margin-bottom: 48px;
    
    @include bp (large) {
        width: calc(50% - 16px);
        margin: 8px 8px 96px 8px;

    }
}

.team-members-grid__member:nth-last-child(2),
.team-members-grid__member:last-child {
    
    @include bp (large) {
        width: calc(50% - 16px);
        margin: 8px 8px 8px 8px;
    }
}

.team-members-grid__img-container {
    width: 100%;
    height: 60%;

    .team-members-grid__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-members-grid__content-container {
    margin-top: 24px;

    @include bp (large) {
        margin-top: 0;
    }
}

.team-members-grid__member-content {
    
    @include bp (large) {
        max-width: 308px;
    }
}

.team-members-grid__job-title {
    margin-top: 8px;
    font-family: $text-family;
}

.team-members-grid__copy {
    margin-top: 24px;
    margin-bottom: 0;
}