.team-members-single {
    margin-bottom: 60px;
}

.team-members-single--gray {
    padding: 20px 0;
    background: $color-bg-gray-2;

    @include bp (large) {
        padding: 96px 0;
    }
}

.team-members-single__row {
    flex-direction: column;

    @include bp (large) {
        flex-direction: row;
    }
}

.team-members-single__info-column {
    width: 100%;

    @include bp (large) {
        width: 35%;
    }
}

.team-members-single__info-content {
    
    @include bp (large) {
        max-width: 325px;
    }
}

.team-members-single__info {
    margin-top: 32px;
    margin-bottom: 32px;

    @include bp (large) {
        margin-bottom: 0;
    }
}

.team-members-single__members-column {
    width: 100%;
    flex-direction: column;

    @include bp (large) {
        width: 65%;
        flex-direction: row;
    }
}

.team-members-single__member {
    width: 100%;
    margin-bottom: 48px;

    @include bp (large) {
        height: 454px;
        margin-bottom: 32px;

        &.team-members-single__member--image-left {

            .team-members-single__img-container {
                order: 2;
            }
    
            .team-members-single__content-container {
                order: 4;
            }
        }
    
        &.team-members-single__member--image-right {
    
            .team-members-single__img-container {
                order: 4;
            }
    
            .team-members-single__content-container {
                justify-content: flex-start;
                order: 2;
            }
        }
    }
}

.team-members-single__member:last-child {
    margin-bottom: 0;
}

.team-members-single__img-container {
    width: 100%;
    height: 100%;

    .team-members-single__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include bp (large) {
        width: 48%;
        margin-bottom: 0;
    }
}

.team-members-single__content-container {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;

    @include bp (large) {
        width: 52%;
        margin-top: 0;
    }
}

.team-members-single__member-content {

    @include bp (large) {
        max-width: 325px;
    }
}

.team-members-single__job-title {
    margin-top: 8px;
    font-family: $text-family;
}

.team-members-single__copy {
    margin-top: 24px;
    margin-bottom: 0;
}