// ==========================================================================
// # THREE FEATURE BOX / PAGE PARTIAL
// ==========================================================================

.three-feature-box {
    margin-bottom: 40px;
}

.three-feature-box__title-container {
    margin-bottom: 48px;

    @include bp (large) {
        justify-content: flex-start;
    }
}

.three-feature-box__row {
    justify-content: center;

    @include bp (medium) {
        justify-content: center;
    }

    @include bp (large) {
        justify-content: space-between;
    }
}

.three-feature-box__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    @include bp (medium) {
        width: 65%;
        margin-bottom: 80px;
    }

    @include bp (large) {
        width: calc(33.33% - 16px);
        margin-bottom: 0;
    }
}

.three-feature-box__img-box {
    width: 100%;
    height: 45%;
}

.three-feature-box__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.three-feature-box__content {
    width: 100%;
    margin-top: 24px;
}

.three-feature-box__content-inner {
    max-width: 356px;

    @include bp (large) {
        max-width: 308px;
    }
}

.three-feature-box__copy {
    margin-top: 24px;
    margin-bottom: 0;
}

.three-feature-box__button {
    margin-top: 32px;
    width: 100%;
    text-align: center;

    @include bp (large) {
        margin-top: 34px;
        width: auto;
        text-align: left;
    }
}