.title-banner {
    height: 189px;
    position: relative;
    
    @include bp (large) {
        margin-bottom: 24px;
        height: 300px;
    }
}

.title-banner__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title-banner__img-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgb(50,50,50);
    background: linear-gradient(90deg, rgba(50,50,50,0.3) 30%, rgba(50,50,50,0) 100%);
    z-index: $z-lvl-1;
}

.title-banner__title-container {
    position: absolute;
    bottom: 32px;
    left: 20px;
    z-index: $z-lvl-2;

    @include bp (large) {
        bottom: 48px;
        left: 90px;
    }
}