// ==========================================================================
// # VIDEO ROW / PAGE PARTIAL
// ==========================================================================

.video-row {
    margin-bottom: 64px;
}

.video-row__content-box {
    width: 100%;
    align-items: center;
    order: 4;
    margin-top: 26px;

    @include bp (large) {
        order: 0;
        width: 40%;
        margin-top: 0;
    }
}

.video-row__video-box {
    width: 100%;
    order: 2;

    @include bp (large) {
        order: 0;
        width: 60%;
    }
}

.video-row__content {
    
    @include bp (large) {
        max-width: 356px;
    }
}

.video-row__copy {
    margin-top: 32px;
}

.video-row__responsive-media {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-row__responsive-media iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}