// ==========================================================================
// # VIDEO FULL / PAGE PARTIAL
// ==========================================================================

.video-full {
    margin-bottom: 64px;
}

.video-full__responsive-media {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-full__responsive-media iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}