// ==========================================================================
// # SPACING ROW / PARTIAL
// ==========================================================================

$spacing-units: (16, 32, 48, 64, 80, 96, 112, 128);

@each $unit in $spacing-units {
    .space-#{$unit} {
      padding-bottom: #{$unit}px;

        &.mobile {
            padding-bottom: #{$unit / 2}px;
        }

        @include bp (large) {

            &.mobile {
                padding-bottom: #{$unit}px;
            }
        }
    }
}

.spacing-row--gray {
    background-color: $color-bg-gray-2;
}