.footer {
   
    @include bp (large) {
        margin: 0 10px 10px 10px;
    }
}

.footer__bg {
    background: $color-bg-primary;
}

.footer__container {
    flex-direction: column;
}

.footer__sign-up {
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid $color-border-white;
    padding: 36px 0;
}

.footer__sign-up-inner {
    
    @include bp (large) {
        padding: 0 93px;    
    }
}

.footer__newsletter-info {
    
    @include bp (large) {
        padding: 0 82px 32px 82px;
    }
}

.footer__description {
    text-align: center;
}

.footer__newsletter-form {
    width: 100%;
}

.footer__form {
    width: 100%;

    input {
        outline: none;
        border: none;
        background: $color-bg-white;
        padding: 12px 16px;
        flex: 2;
        margin-right: 16px;
    }

    input:last-child {
        margin-right: 0;
    }

    input::placeholder {
        color: $color-text;
    }

    input[type='submit'] {
        background: transparent;
        border: 1px solid $color-border-white;
        flex: 1;
    }
}

.footer__columns-row {
    padding: 32px 20px;
    justify-content: space-between;

    @include bp (large) {
        padding: 32px 0;
    }
}

.footer__column {
    display: none;

    &:last-child {
        display: block;
    }

    @include bp (large) {
        display: block;
        width: 13%;
    }
}

.footer__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li:first-child {
        margin-top: 24px;
    }
}

.footer__list-item {
    color: $color-text-white;
    opacity: 0.5;
}

.footer__socials {
    align-items: center;
    margin-bottom: 18px;
}

.footer__social {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    opacity: 0.5;

    &:last-child {
        margin-right: 0;
    }

    svg {

        path {
            fill: $color-bg-white;
        }
    }
}

.footer__conditions-bar {
    background: $color-bg-black;
    padding: 24px 0;

    @include bp (large) {
        margin-top: 10px;
    }
}

.footer__m-wrapper {
    flex-direction: column;
    padding: 0 20px;

    @include bp (large) {
        flex-direction: row;
        padding: 0;
    }
}

.footer__conditions {
    color: $color-text-white;
    opacity: 0.5;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
    
    @include bp (large) {
        margin-right: 32px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}