// ==========================================================================
// # HEADER
// ==========================================================================

// Desktop Nav Classes

.nav-bar {
    width: 100%;
    background: $color-bg-white;
    position: fixed;
    z-index: $z-lvl-4;
    box-shadow: 1px 0px 13px 1px rgba(0,0,0,0.10);

    &.drop {
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch; // mobile safari
        height: 100vh;
    }
}

.nav-bar__desktop-nav {
    height: 120px;
    width: 100%;
}

.nav-bar__border-inner {
    border-top: 4px solid $color-border-primary;
    height: 100%;
}

.nav-bar__nav {
    width: 100%;
    height: 100%;
    align-items: center;
}

.nav-bar__inner {
    width: 100%;
    height: 100%;
}

.nav-bar__logo {
    width: 30%;
    justify-content: center;
    align-items: center;

    img {
        display: block;
    }
}

.nav-bar__content { 
    width: 70%;
    flex-direction: column;
    align-items: flex-end;

}

.nav-bar__info-row {
    width: 90%;
    border-bottom: 1px solid $color-border-2;
    align-items: center;
    justify-content: flex-end;
    flex: 4;

    ul.nav-bar__info-list {
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li.nav-bar__info-item {
            margin-right: 24px;
            display: flex;

            a {
                display: block;
                display: flex;
                align-items: center;
            }
        }

        li.nav-bar__info-item:last-child {
            margin-right: 16px;
        }
    }
}

.nav-bar__links-row {
    width: 90%;
    align-items: center;
    justify-content: flex-end;
    flex: 3;
}

.nav-bar__links-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-bar__links-item {
    padding: 0 16px;
    display: flex;

        a {
            display: block;
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: $color-bg-gray;
        }
}

.nav-bar__links-item--relative {
    position: relative; 
}

.nav-bar__link-dropdown-small {
    display: none;
    position: absolute;
    min-width: 205px;
    background: $color-bg-primary;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: $z-lvl-4;
    overflow: hidden;

    .nav-bar__drop-link {
        padding-top: 24px;
        padding-left: 24px;
    }

    .nav-bar__drop-link:last-child {
        padding-top: 24px;
        padding-left: 24px;
        padding-bottom: 32px;
    }  
}           

.nav-bar__link-dropdown-full {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    background: $color-bg-primary;
    padding: 24px 0 32px 0;
    margin: 0;
    list-style: none;
    z-index: $z-lvl-4;
}

.nav-bar__link-dropdown-full__ul {
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.nav-bar__link-dropdown-full-column {
    list-style: none;
    width: 25%;

    li {
        margin-bottom: 24px;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

li.nav-bar__links-item:hover > .nav-bar__link-dropdown-small {
    display: block;
}

li.nav-bar__links-item:hover > .nav-bar__link-dropdown-full {
    display: flex;
}

li.nav-bar__info-item:last-child {
    margin-right: 16px;
}

// Mobile Nav Classes

.nav-bar__mobile-nav {
    height: 64px;
    width: 100%;
}

.nav-bar__mobile-inner {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-bar__mobile-logo {
    height: 40px;
    width: 92px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nav-bar__burger-icon {
    position: relative;
    width: 21px;
    height: 18px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid $color-border-green;
        transition: $btn-transition;
    }

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        border-bottom: 2px solid $color-border-green;
        transition: $btn-transition;
    }

    &.active {
    
        &:before {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }
        
        .nav-bar__burger-icon-line {
            top: 50%;
            transform: translateY(-50%) scale(0);
        }
        
        &:after {
            top: 50%;  
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}

.nav-bar__burger-icon-line {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(1);
    border-bottom: 2px solid $color-border-green;
    transition: $btn-transition; 
    transform-origin: left center;
}

.nav-bar__mobile-dropdown {
    display: none;
    padding-bottom: 40px;

    &.open {
        display: block;
    }
}

.nav-bar__mobile-dropdown-content {
    flex-direction: column;
}

.nav-bar__dropdown-button-container {
    padding: 0 20px;
    margin-top: 20px;
}

.nav-bar__dropdown-button {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.nav-bar__dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bar__dropdown-list-item {
    margin-top: 16px;
    padding: 0 20px;

    &.active {
        background: $color-bg-gray;

        .nav-bar__dropdown-list-item-border {
            border-bottom: 1px solid $color-border-white;
        }
    }
}

.nav-bar__dropdown-list-item-border {
    border-bottom: 1px solid $color-border-3;
    padding: 16px 0;
}

.nav-bar__dropdown-list-item-inner {
    padding: 0 12px;
}

.nav-bar__dropdown-item-link {
    align-items: center;
    justify-content: space-between;

    svg {
        max-width: 20px;
        max-height: 20px;
    }
}

.nav-bar__second-dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-bar__second-dropdown-item {
    padding: 0 12px 24px 12px;
}

.nav-bar__second-dropdown-item:first-child {
    padding: 24px 12px;
}

