.error-404 {
    height: 646px;
    position: relative;
}

.error-404__container {
    height: 100%;
}

.error-404__space-left {
    background: $color-bg-gray-2;
    width: 44%;
}

.error-404__img-container {
    width: 56%;
}

.error-404__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.error-404__info {
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-bg-white;
    padding: 64px 93px;
}

.error-404__info-inner {
    max-width: 542px;
}

.error-404__error-code {
    margin-bottom: 16px;
}

.error-404__copy {
    margin-top: 32px;
    margin-bottom: 48px;
}

