@font-face {
    font-family: 'Georgia';
    src: url('/wp-content/themes/rcs/src/fonts/Georgia.woff2') format('woff2'),
        url('/wp-content/themes/rcs/src/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}