.about__row {
    padding: 40px 15px;
}

.about__row--section-break {
    border-bottom: 1px solid $color-border;
}

.about__title-column {
    width: 35%;
}

.about__title {
    font-family: $text-family;
}

.about__info-column {
    width: 65%;
}

.about__info-column {

    p {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.about__more-info {
    display: none;
}
