.cards__row {
    padding: 40px 0;

    @include bp (large) {
        padding: 40px 0 40px 15px;
    }
}

.cards__row--section-break {
    border-bottom: 1px solid $color-border;
}

.cards__title-col {
    width: 100%;
    margin-bottom: 24px;

    @include bp (large) {
        width: 30%;
        margin-bottom: 0;
    }
}

.cards__title {
    font-family: $text-family;
}

.cards__cards-col {
    width: 100%;

    @include bp (large) {
        width: 70%;
    }
}

.cards__box {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;

    &:nth-child(1),
    &:nth-child(2) {
        display: flex;
    }

    @include bp (large) {
        width: calc(50% - 8px);
        margin: 0 8px 8px 0;

        &:nth-child(2n) {
            margin: 0 0 8px 8px;
            width: calc(50% - 8px);
        }
    }
}

.cards__img-container {
    height: 50%; 
}

.cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards__content {
    height: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    justify-content: space-between;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
}

.cards__btn {
    width: 100%;
    text-align: center;
    justify-content: center;

    @include bp (large) {
        width: auto;
        text-align: left;
        justify-content: flex-start;
    }
}

.cards__download {
    display: flex;
    align-items: center;

    svg {
        width: 16px;
        height: 16px;

        path {
            fill: $color-bg-white;
        }
    }
}

.cards__download-text {
    margin-right: 12px;
}

.cards__view-more {
    width: 100%;
    margin-top: 24px;
    align-items: center;

    svg {
        height: 16px;
        width: 16px;
        margin-left: 12px;

        path {
            fill: $color-bg-primary;
        }
    }
}