.image-grid {
    margin-bottom: 10px;
}

.image-grid__box {
    width: 50%;
}

.image-grid__big-image {
    margin: 8px;
    width: 100%;
}

.image-grid__small-image {
    width: calc(50% - 16px);
    margin: 8px;
}

.image-grid__long-image {
    width: 100%;
    margin: 8px;
}

.image-grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}