.key-features__row {
    padding: 40px 15px;
}

.key-features__row--section-break {
    border-bottom: 1px solid $color-border;
}

.key-features__title-col {
    width: 35%;
    height: 100%;
}

.key-features__title {
    font-family: $text-family;
    max-width: 120px;
}

.key-features__features-col {
    width: 65%;
    height: 100%;
}

.key-features__features-list {
    height: 100%;
    width: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
}

.key-features__feature {
    align-items: center;
    margin-bottom: 24px;
    max-width: 203px;
    word-break: break-word;

    &:last-child {
        margin-bottom: 0;
    }
}

.key-features__icon {
    margin-right: 12px;
    max-width: 16px;
    max-height: 16px;
}