.location__row {
    padding: 40px 0;

    @include bp (large) {
        padding: 40px 0 40px 15px;
    }
}

.location__row--section-break {
    border-bottom: 1px solid $color-border;
}

.location__header {
    width: 100%;

    @include bp (large) {
        width: 30%;
        margin-bottom: 0;
    }
}

.location__title {
    font-family: $text-family;
}

.location__map {
    width: 100%;

    @include bp (large) {
        width: 70%;
    }
}

.location__box {
    display: none;
    width: 100%;
    margin-bottom: 40px;

    &:nth-child(1) {
        display: block;
    } 
}

.location__container {
    height: 210px;
}

.location__iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
}

.location__link {
    display: flex;
    align-items: center;

    .location__text {
        margin-right: 12px;
    }

    svg {
        max-width: 15px;
        max-height: 20px;
        transition: $btn-transition;
        transform: translateX(0);
        margin-bottom: 2px;

        path {
            fill: $color-bg-primary;
        }
    }

    &:hover {

        svg {
            transform: translateX(5px)
        }
    }
}