.post-label__label {
    background: $color-bg-gray-2;
    padding: 20px 20px 16px 24px;
    justify-content: space-between;
}

.post-label__title-container {
    align-items: flex-start;
}

.post-label__icons-row {
    flex-wrap: wrap;
}

.post-label__icon-column {
    padding-left: 40px;
    margin-bottom: 20px;
    width: 25%;
    text-align: center;

    &:last-child {
        margin-right: 0px;
    }
}

.post-label__icon {
    max-width: 16px;
    max-height: 16px;
}