.room-gallery__row {
    padding: 40px 0;

    @include bp (large) {
        padding: 40px 0 40px 15px;
    }
}

.room-gallery__row--section-break {
    border-bottom: 1px solid $color-border;
}

.room-gallery__title-col {
    width: 100%;

    @include bp (large) {
        width: 30%;
        margin-bottom: 0;
    }
}

.room-gallery__title {
    font-family: $text-family;
}

.room-gallery__gallery-col {
    width: 100%;

    @include bp (large) {
        width: 70%;
    }
}

.room-gallery__box {
    display: none;
    width: 100%;
    margin-top: 40px;

    &:nth-child(1) {
        display: block;
        margin-top: 0;
    } 
}

.room-gallery__img-container {
    height: 210px;
}

.room-gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-gallery__content {
    padding: 16px 0;
    border-bottom: 1px solid $color-border;
}

.room-gallery__copy {
    margin: 0;
}

.room-gallery__view-more {
    width: 100%;
    margin-top: 24px;
    align-items: center;

    svg {
        height: 16px;
        width: 16px;
        margin-left: 12px;

        path {
            fill: $color-bg-primary;
        }
    }
}