$spacing-u: (0, 16, 32, 48, 64, 80, 96, 112, 128);

@each $unit in $spacing-u {
    .space-b-#{$unit} {
      padding-bottom: #{$unit}px;

        &.mobile-b {
            padding-bottom: #{$unit / 2}px;
        }

        @include bp (large) {

            &.mobile-b {
                padding-bottom: #{$unit}px;
            }
        }
    }

    .space-t-#{$unit} {
        padding-top: #{$unit}px;
  
          &.mobile-t {
              padding-top: #{$unit / 2}px;
          }
  
          @include bp (large) {
  
              &.mobile-t {
                  padding-top: #{$unit}px;
              }
          }
      }
}